<div class="container">
        <h1 class="my-4">Flight Advisor</h1>

        <h3 class="my-4">Destination Point: Stockholm</h3>
        <div class="row">
          <div class="col-md-3">
            FinnAir recommends:
            <div>
                Gothenborg
            </div>
            <div>
                Malmo
            </div>
          </div>
          
          <agm-map [zoom] = 5 class="col-md-3" style="width:400px;height:400px" [latitude]="60.4245987" [longitude]="18.5186409">
            <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
            <!-- <agm-line [latitude]="m.lat" [longitude]="m.lng"></agm-marker> -->
          </agm-map>

          <div class="col-md-3">
          </div>
        </div>
</div>